.titleAlugados {
    color: var(--corBase);
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
    margin: 25px;
}


.formAddCar {
    margin: 20px;
}

.informations {
    overflow: auto;
}

.addbutton {
    background-color: var(--corBase);
    color: white;
    width: 200px;
    border-radius: 15px;
    height: 50px;
    border-style: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

.addbutton:hover {
    background-color: var(--hover);
}

.colbutton{
    display: flex;
    justify-content: right;
}

.logoProfile{
    width: 200px;
    top: 10%;
    position: absolute;
    left: 45%;
}

.informacoesAddcar {
    font-weight: 300;
    margin: 10px;
    display: flex;
    text-align: center;
    grid-template-columns: auto auto auto;
    position: relative;
}