.titleAlugados {
    color: var(--corBase);
    font-weight: bolder;
    margin-right: 700px;
}


.formAddCar {
    margin: 20px;
}

.informations {
    overflow: auto;
}

.addbutton {
    background-color: var(--corBase);
    color: white;
    width: 200px;
    border-radius: 15px;
    height: 50px;
    border-style: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

.addbutton:hover {
    background-color: var(--hover);
}

.colbutton{
    display: flex;
    justify-content: right;
}