.backgroundConta {
  background-color: var(--corFundo);
}

.sidebar-sticky {
  margin-top: 200px;
  text-align: center
}

.sideBar {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px;
  width: 300px;
  height: 765px;
  position: relative;
}

.informations {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 50px;
  width: 1200px;
  height: 600px;
  position: fixed;
  top: 8%;
  right: 10%;
}

.imgPerfil {
  width: 100px;
  height: 100px;
  left: 5.5%;
  top: 15%;
  position: fixed;
}

.emailInfo {
  opacity: 50%;
}

.infoProfile {
  padding-top: 45px;
  text-align: center;
}

.fotoFundo {
  height: 200px;
  width: 300px;
  opacity: 50%;
}

.sidebar {
  color: #fff;
  background-color: white;
  background-image: url(../img/telaLogin.png);
  width: 300px;
  height: 100vh;
}

.centeredLine{
  height: 500px;
  border-left: 2px solid rgb(180, 177, 177);

}

.footerBarConta {

  bottom: 000px;
  position: absolute;
  height: 150px;
}

.dataShow {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 500px;
  position: ab;
  justify-content: space-evenly;
}

.columnData {
  margin: 50px;
}

.columnAddress{
  margin: 50px;
}
.titles{
  color: var(--corBase);
  margin: 30px;
}