.detailBody {
    position: relative;
}

.infoDetalhes {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 38vh;
    top: 60%;
    left: 10%;
    width: 800px;
    height: 800px;
}

.infoPreco {
    position: absolute;
    background-color: rgb(255, 255, 254);
    border-radius: 50px;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30vw; /* ou qualquer largura desejada */
    height: 50vh; /* ou qualquer altura desejada */
    top: 150%; /* mesma posição vertical que .infoDetalhes */
    left: calc(30% + 800px + 40px); /* ajuste para posicionar ao lado de .infoDetalhes */
    transform: translate(-50%, -50%); /* para centralizar */
}

.inputsPreco {margin-top: 10px;
    display: flex;    
    justify-content: center;
}

.inputText {
    display: flex;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    top:80%;
    border-color: rgb(151, 151, 151);
    
}
.sendMensage{
    font-weight: bold;
    margin-top: 5%;
    color: rgb(164, 2, 2);
    animation: blink 2s infinite; /* os segundos muda o tempo que o txto fica invisivel*/
}

@keyframes blink{  /* aqui muda o tamanho e cor*/
    50%{
        opacity: 1;
    }
    50%{
        color: grey;
        opacity: 0;
    }
}           /* aqui muda o tamanho e cor*/


.btnSend{
    margin-top: 80px;
    background-color: red;
    color: rgb(222, 222, 222);   
    width: 80px;
    height: 30px;
   
}

.emailPreco{
    margin-top: 100px;
 position: relative;
    margin-bottom: 5%;
    margin: 80px;
    width: 300px;
    margin: 10px;
}

.nomePreco{
    width: 300px;
    margin: 10px;
}

.telPreco{
    width: 300px;
    margin: 10px;
}


.title {
    margin: 20px;
    display: flex;
}

.lettersTitle {
    font-size: 75px;
    font-weight: 700;
}

.lettersTitleSecond {
    padding-left: 25px;
    font-size: 75px;
    font-weight: 700;
    color: var(--corBase);
}

.letterPrice {
    font-size: 40px;
    font-weight: 700;
    color: var(--corBase);
}

.informacoesDetalhes {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 500px;
}

.itemDetails {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 20%;
    margin-top: 40px;
    padding: 0;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-around;
}

.itemsDescricao {
    position: fixed;
    top: 80%;
    right: 110%;
}

.itemDescription {
    height: 20%;
}

.aboutField {
    font-weight: 300;
    margin-left: 80px;
}

.textAbout {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

.footerBar {
    justify-content: end;
    top: 250%;
    position: absolute;
    height: 200px;
}

.carouselDetalhes {
    margin-top: 0px;
    margin: 0;
}

.itemsVehicle {
    font-weight: bold; /* corrigido de bolder para bold */
    display: flex;
    text-align: center;
    font-size: 15px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.redBarCarroussel {
    background-color: var(--corBase);
    height: 20px;
    border-style: none;
    margin-top: -0.2%;
}


