.detailBody {

    position: relative;

}

.infoDetalhes {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    top: 90%;
    left: 15%;
    width: 800px;
    height: 800px
}


.infoPreco {
    position: absolute;
    margin-top: 600px;
    /* mexer aqui para ajustar depois a altura*/
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 400px;
    height: 540px;
    top: 0%;

    left: 65%;
}

.inputsPreco {
    display: flex;    
    justify-content: center;
}

.inputText{
    width: 300px;
    border-style: 1px solid rgb(151, 151, 151);
}


.title {
    margin: 20px;
    display: flex;
}

.lettersTitle {
    font-size: 75px;
    font-weight: 700;
}

.lettersTitleSecond {
    padding-left: 25px;
    font-size: 75px;
    font-weight: 700;
    color: var(--corBase);
}

.letterPrice {
    font-size: 40px;
    font-weight: 700;
    color: var(--corBase);
}


.informacoesDetalhes {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 500px;

}

.itemDetails {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 20%;
    margin-top: 50px;
    padding: 10px;
    justify-content: space-around;
}

.itemsDescricao {
    position: fixed;
    top: 80%;
    right: 110%;
}

.itemDescription {
    height: 20%;
}

.aboutField {
    font-weight: 300;
    margin-left: 80px;
}

.textAbout {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;

}

.footerBar {

    justify-content: end;
    top: 250%;

    position: absolute;
    height: 200px;
}

.carouselDetalhes {
    margin-top: 0px;
    margin: 0;
}

.itemsVehicle {
    font-weight: bolder
}

.redBarCarroussel {
    background-color: var(--corBase);
    height: 20px;
    border-style: none;
    margin-top: -0.2%;
}