.redBar {
    background-color: var(--corBase);
    height: 20px;
    border-style: none;
    margin: 0;
}

#imgBanner{
    width: 100%;
}

#imgLogo{
    width: 90px;
    height: 90px;
}

/* FINDER VEÍCULOS */
#finder {
    margin-top: 76px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 35%;
    top: 32.2%;
}

#box {
    background-color: white;
    width: 600px;
    height: 150px;
    border-radius: 10px;
}

.nav-itensBox {
    display: flex;
    margin: 10px;
    justify-content: left;
    padding: 8px;
}

#bar {
    background-color: var(--corBase);
    height: 2px;
    border-style: none;
}

#pesquisa {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#pesquisa>input {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--corFundo);
    font-size: 15px;
}

#pesquisa>button {
    width: 100px;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    background-color: var(--corBase);
    border-style: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

#pesquisa>button:hover {
    background-color: var(--hover);
}

.acordion{
    border: 1px solid black;
}


/* EXIBIR VEÍCULOS */
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    column-gap: 50px;
    margin: 10%;
}

.card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-color: #2E2D37;
    color: white;
    margin: 20px;
    cursor: pointer;
}


.container>div>.imgCard {

    
    top: 0;
    height: 250px;
    width: 400px;
    border-radius: 10px;
    align-items: center;
    transition: 0.1s;
    margin-bottom: 150px;

}

.container>div>.imgCard:hover {
    height: 270px;
    width: 450px;
    cursor: pointer;
}


.legend {
    position: absolute;
    margin-top: 23px;
    left: 20%;
    width: 275px;
    font-size: 10px;
}

.line {
    left: 28%;
    top: 3%;
    position: absolute;
}

#textCard {
    position: absolute;
    top: 0;
    margin-top: 90%;
    height: 350px;
    width: 450px;
    align-items: center;
}

.price {
    position: absolute;
    margin-top: 30px;
    width: 400px;
    top: 20%;
    left: 4.5%;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: var(--corBase);
}

/* FOOTER */
footer {
    background-color: var(--contrasteFundo);
    color: white;
    bottom: 0;
    height: 10%;
    width: 100%;
    bottom: 0;
}

.secoes {
    max-width: 100%;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.informacoes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 200px;
    position: relative;
}

.info1,
.info2,
.info3 {

    margin: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;

}

.logoFooter{
    width: 60px;
    top: 75%;
    position: absolute;
    left: 50%;
}


@media screen and (max-width: 1200px) {
    .container {
        margin-top: 120px;
      
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        column-gap: 50px;
    }

    #box {
        width: 400px;
        height: 140px;
        border-radius: 10px;
    }

    #pesquisa>input {
        width: 250px;
        height: 30px;
        border-radius: 8px;
        border-style: none;
        background-color: var(--corFundo);
        font-size: 20px;
    }

    #finder {
        margin-top: 76px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 30%;
        top: 26.5%;
    }

    nav {
        width: 100%;
    }

}

@media screen and (max-width: 800px) {
    .container {
        margin-top: 120px;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        column-gap: 50px;
    }

    #finder {
        margin-top: 76px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 24%;
        top: 18.5%;
    }

    #pesquisa>input {
        width: 250px;
        height: 30px;
        border-radius: 8px;
        border-style: none;
        background-color: var(--corFundo);
        font-size: 20px;
    }

}