nav {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    background-color: var(--contrasteFundo);
    height: 100px;
    width: 100%;
}

.titulo {
    color: var(--corBase);
}

.background {
    background-color: var(--corFundo);
}

.logout {
    cursor: pointer;
}

.nav-itens {
    display: flex;
}


.nav-itens>li {
    padding-left: 60px;
}

.redBar {
    background-color: var(--corBase);
    height: 30px;
    border-style: none;
    margin: 0;
}

#user {
    height: 50px;
}



/* FOOTER */
footer {
    background-color: var(--contrasteFundo);
    color: white;
    bottom: 0;
    height: 10%;
    width: 100%;
    bottom: 0;
}

.secoes {
    max-width: 100%;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.informacoes {
    display: flex;
    padding: 100px;
}

.info1,
.info2,
.info3 {
    padding-top: 0px 100px;
    font-size: 14px;

}


/* FINDER VEÍCULOS */
#finder {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30%;
    top: 35.5%;
}

#box {
    background-color: white;
    width: 800px;
    height: 150px;
    border-radius: 10px;

}

.nav-itensBox {
    display: flex;
    margin: 10px;
    justify-content: left;
    padding: 8px;
}

#bar {
    background-color: var(--corBase);
    height: 2px;
    border-style: none;
}

#pesquisa {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#pesquisa>input {
    width: 400px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--corFundo);
    font-size: 20px;
}

#pesquisa>button {
    width: 100px;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    background-color: var(--corBase);
    border-style: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

#pesquisa>button:hover {
    background-color: var(--hover);
}


/* EXIBIR VEÍCULOS */

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    column-gap: 50px;
    margin: 10%;
}

.card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-color: #2E2D37;
    color: white;
    margin: 20px;
}


.container>div>.imgCard {
    height: 250px;
    width: 360px;
    border-radius: 10px;
    align-items: center;
    transition: 0.1s;
    margin-bottom: 150px;
}

#textCard {
    margin-top: 100%;
    color: red;
}


.container>div>.imgCard:hover {
    width: 500px;
    height: 350px;
    cursor: pointer;
}


#divBusca {
    background-color: #2F4F4F;
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}



.card>p {
    margin: 10px;
}















@media screen and (max-width: 1200px) {
    .container {
        margin-top: 20px;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        column-gap: 50px;
    }

    #box {
        width: 400px;
        height: 200px;
        border-radius: 10px;
    }

    #pesquisa>input {
        width: 250px;
        height: 30px;
        border-radius: 8px;
        border-style: none;
        background-color: var(--corFundo);
        font-size: 20px;
    }

    nav {
        width: 100%;
    }

}

@media screen and (max-width: 800px) {
    .container {
        margin-top: 20px;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        column-gap: 50px;
    }

    #pesquisa>input {
        width: 250px;
        height: 30px;
        border-radius: 8px;
        border-style: none;
        background-color: var(--corFundo);
        font-size: 20px;
    }

}