@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    background-color: var(--contrasteFundo);
    height: 100px;
    width: 100%;
}

.nav-itens {
    display: flex;
}

.nav-itens>li {
    padding-left: 60px;
}

#user {
    height: 50px;
    cursor: pointer;
}
