@import url(./base/reset.css);
@import url(./base/variaveis.css);
@import url(./base/typograph.css);
@import url(./base/login.css);
@import url(./base/home.css);



html {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: var(--corFundo);
}

li {
    cursor: pointer;
    transition-duration: 0.2s;
}

li:hover {
    cursor: pointer;
    color:var(--corBase);
    border-style: none;
}